.example-spacer {
    flex: 1 1 auto;
}

table {
    width: 50%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    overflow-x: auto;
}